#body {
    margin: auto;
    width: 794px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.1px solid #c4b19e;
}

#body__header__section1 {
    background-color: #03374f;
    color: white;
    padding: 10px 15px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

#body__header__section1__div1 {
    width: 72%;
    margin-bottom: 5px;
    background-color: #03374f;

}

#body__header__section1__div1__h1 {
    font-size: 28px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div1__h3 {
    font-size: 18px;
    margin: 0px 0px 12px 0px;
    border-bottom: 2px solid #c4b19e;
    text-shadow: 0px 0.5px #333333;
}

.body__header__section__div__h2 {
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div1__p1 {
    margin-bottom: 25px;
}

.body__header__section1__div__p {
    font-size: 11px;
    margin-bottom: 0px;
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div2 {
    width: 28%;

}

#body__header__section1__div2__img {
    width: 100%;
    /* width: 75%; */
    border-radius: 100%;
    /* border: 3px solid rgb(27, 70, 121); */
    border: 3px solid #c4b19e;
    margin: 8px;
    margin-top: 15px;
    /* margin-top: 2px; */

}

#body__header__section2__div3 {
    /* border-top: 2px solid rgb(27, 70, 121); */
    border-top: 2px solid #c4b19e;
    padding-bottom: 5px;
    width: 100%;
}

#body__header__section2__div3__h2 {
    margin: 5px 0px;
    text-align: center;
    font-weight: 500;

}

.body__header__section2__div3__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
    font-size: 11px;
    margin-bottom: 3px;
    text-shadow: 0px 0.5px #333333;
}

.body__header__section2__div3__ul__li {
    width: calc(100%/7);
    list-style-type: none;
    text-align: center;
    justify-content: center;

}

#body__header__section2__div3__ul__li1 {
    padding-top: 2px;
}

#body__header__section2__div3__ul__li3 {
    padding-bottom: 3px;
}

#img_li3 {
    overflow: hidden;
    margin-top: -8px;
}

#body__header__section2__div3__ul__li4 {
    padding-top: 3px;
}

#body__header__section2__div3__ul__li5 {
    padding-top: 2px;
}

#body__main {
    display: flex;
}

#body__main__section1 {
    width: 13%;
    background-color: rgb(187, 187, 189);
    text-align: center;
    padding: 7px 2px 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0 15px 0 0;
}

#body__main__section1__p1 {
    margin-top: 11px;
}

#body__main__section1__p2 {
    margin-top: 27px;
}

#body__main__section1__p3 {
    margin-top: 42px;
}

#body__main__section1__p4 {
    margin-top: 60px;
}

#body__main__section1__p5 {
    margin-top: 61px;
}

#body__main__section1__p6 {
    margin-top: 44px;
}

#body__main__section1__p7 {
    margin-top: 42px;
    margin-bottom: 10px;
}

#body__main__section1__p8 {
    margin-top: 11px;
}

#body__main__section2 {
    width: 60%;
    padding: 8px 0 0 0;
}

.body__main__section2__h3 {
    text-align: center;
    color: white;
    background-color: #03374f;
    text-shadow: 0px 0.5px #333333;
    border-radius: 23%;
    font-size: 17px;
    padding: 0px 0px 0px 15px;
}

#body__main__section2__h3__2 {
    margin-top: 15px;
}

.body__main__section2__div__h3 {
    font-size: 14px;
    margin-bottom: 0px;
    padding-left: 2px;
}

.body__main__section2__div__h4 {
    font-size: 11px;
    margin-bottom: 0px;
    padding-left: 2px;
}

.body__main__section2__div__ul {
    padding-top: 2px;
    padding-left: 20px;
    margin-bottom: 6px;
}

.body__main__section2__div__li {
    font-size: 11px;
    padding-right: 20px;
}

#detail {
    display: flex;
    padding: 8px 20px 8px 10px;
}

.body__main__section2__div__li2 {
    font-size: 11px;
    /* padding: 0px 15px 0px 10px; */
}

#body__main__section3 {
    width: 27%;
    background-color: #03374f;
    color: white;
    border-radius: 15px 0 0 0;
}

.body__main__section3__h3 {
    display: block;
    color: black;
    background-color: white;
    border-radius: 25%;
    font-size: 18px;
    text-align: center;
    margin-top: 7px;
}

#body__main__section3__h3__2 {
    margin: 15px 0 0 0;
}

#body__main__section3__h3__3 {
    margin-top: 13px;
}

.body__main__section3__p {
    font-size: 13px;
    margin-bottom: 6px;
    padding-left: 2px;
    text-shadow: 0px 0.5px #333333;
}

#body__main__section__div__a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body__main__section__div__a__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    margin: 2% 0 3% 0;
    font-size: x-small;
    text-align: center;
}

#body__main__section__div__a__bottom {
    display: flex;
    gap: 9px;
}

.body__main__section3__a {
    font-size: 13px;
    color: black;
}

.body__main__section3__div__h4 {
    font-size: 12px;
    margin-bottom: 1px;
    padding: 8px 0 0 2px;
    text-shadow: 0px 0.5px #333333;
}

.body__main__section3__div__p {
    font-size: 11px;
    margin-bottom: 5px;
    padding-left: 2px;
    text-shadow: 0px 0.5px #333333;
}

#body__main__section3__ul {
    padding: 0px;

}

.body__main__section3__li {
    text-align: center;
    font-size: 12px;
    padding: 4px 0px 0px 2px;
    text-shadow: 0px 0.5px #333333;
    list-style-type: none;

}