#body {
    margin: auto;
    width: 700px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.1px solid rgb(88, 153, 185);
}

#body__header {
    border-bottom: 2px solid rgb(27, 70, 121);
    border-radius: 4px;
}

#body__header__section1{
    background-color: rgb(88, 153, 185);
    color: white;
    padding: 10px 15px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

#body__header__section1__div1 {
    width: 72%;
    margin-bottom: 5px;
    background-color: rgb(88, 153, 185);

}

#body__header__section1__div1__h1 {
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div1__h3 {
    font-size: 18px;
    margin: 8px 0px;
    border-bottom: 2px solid rgb(27, 70, 121);
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div1__p1{
    border-bottom: 2px solid rgb(27, 70, 121);
    border-radius: 4px;
}

.body__header__section__div__h2 {
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 0px 0.5px #333333;
}

.body__header__section1__div__p {
    font-size: 11px;
    margin-bottom: 0px;
    text-shadow: 0px 0.5px #333333;
}

#body__header__section1__div2 {
    width: 28%;

}

#body__header__section1__div2__img {
    width: 100%;
    border-radius: 100%;
    border: 3px solid rgb(27, 70, 121);
    margin: 8px;
    margin-top: 15px;

}

#body__header__section2__div3{
    border-top: 2px solid rgb(27, 70, 121);
    padding-bottom: 5px;
    width: 100%;
}

#body__header__section2__div3__h2{
    margin: 5px 0px;
    padding-left: 15px;

}    

#body__header__section2__div3__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
    font-size: 11px;
    margin-bottom: 0px;
    text-shadow: 0px 0.5px #333333;
}

.body__header__section2__div3__ul__li{
    width: 25%;
    padding-bottom: 2px;
    list-style-type: none;
    text-align: center;
    justify-content: center;

}

.body__header__section2__div3__ul__img{
}

#body__main {
    display: flex;
}

#body__header__section2__div3__ul__li6{
    padding-top: 2px;
}

#body__main__section1 {
    width: 13%;
    background-color: rgb(231, 231, 233);
    text-align: center;
    padding: 7px 2px 0px;
    font-size: 12px;
    font-weight: bold;
    /* padding-bottom: 10px; */
}

.body__main__section1__p {}

/* #body__main__section1__p1 {
    margin-top: 11px;
} */

#body__main__section1__p2 {
    margin-top: 15px;
}

#body__main__section1__p3 {
    margin-top: 55px;
}

#body__main__section1__p4 {
    margin-top: 72px;
}

#body__main__section1__p5 {
    margin-top: 39px;
    margin-bottom: 49px;
}

#body__main__section1__p6 {
    margin-top: 14px;
    /* margin-bottom: 6px; */

}

/* #body__main__section1__p7 {
    margin-top: 138px;
    margin-bottom: 23px;
} */

#body__main__section2 {
    width: 60%;
    padding: 8px 0px 15px 0px;
}

.body__main__section2__h3 {
    text-align: center;
    color: white;
    background-color: rgb(88, 153, 185);
    text-shadow: 0px 0.5px #333333;
    border-radius: 23%;
    font-size: 17px;
    padding: 0px 0px 0px 15px;
    margin-bottom: 5px;
}

#body__main__section2__h3__2{
    margin-top: 13.5px;
}

.body__main__section2__div{
    padding-top: 7px;
}

.body__main__section2__div__h3 {
    font-size: 14px;
    margin-bottom: 0px;
    padding-left: 2px;
}

.body__main__section2__div__h4 {
    font-size: 11px;
    margin-bottom: 0px;
    padding-left: 2px;
}

.body__main__section2__div__ul {
    padding-top: 2px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.body__main__section2__div__li {
    font-size: 11px;
    padding-right: 20px;
}

.body__main__section2__div__li2{
    font-size: 11px;
    padding: 0px 20px 0px 15px;
}

#body__main__section3 {
    width: 27%;
    background-color: rgb(88, 153, 185);
    color: white;
    margin-top: 1px;
    padding-bottom: 15px;
}

.body__main__section3__h3 {
    display: block;
    color: black;
    background-color: white;
    border-radius: 25%;
    font-size: 18px;
    text-align: center;
    margin-top: 6px;
}

#body__main__section3__h3__2{
    margin-top: 15px;
}

#body__main__section3__h3__3{
    margin-top: 19px;
}

.body__main__section3__p {
    font-size: 13px;
    margin-bottom: 8px;
    padding-left: 2px;
    text-shadow: 0px 0.5px #333333;
}

.body__main__section3__a {
    font-size: 13px;
    color: black;
    padding-left: 2px;
}
.body__main__section3__a:hover {
    font-size: 15px;
    color: white;
    padding-left: 2px;
}

.body__main__section3__div__h4 {
    font-size: 12px;
    margin-bottom: 1px;
    padding-left: 2px;
    text-shadow: 0px 0.5px #333333;
}

.body__main__section3__div__p {
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 2px;
    text-shadow: 0px 0.5px #333333;
}

#body__main__section3__ul{
    padding: 0px;
    
}

.body__main__section3__li{
    text-align: center;
    font-size: 12px;
    margin-bottom: 1px;
    padding: 4px 0px 0px 2px;
    text-shadow: 0px 0.5px #333333;
    list-style-type: none;

}